
.form input{
  margin-left: 450px;
  width:600px;
  height:40px;
}

.form p{
  margin-left: 450px;
}

.instagram{
  display: grid;
  grid-template-columns: 300px 300px 300px;
  padding-left:20%;
  padding-right: 20%;
  margin-top: -400px;

}

.input{
    text-align: center;
    position: relative;
    bottom:-90px
}
.input input{
    width:600px;
    height:40px;
}

.title_social a {
  text-decoration: none;
  color:black
}

.title_social{
  text-align: center; 
  position:relative;
  bottom:450px
}

.title_social2{
 text-align: center;
 margin-top: 50px; 
}